<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>包裹列表</title>
	
    <link rel="stylesheet" type="text/css" href="/eneryi/static/html/service/service.css" />
    <link rel="stylesheet" type="text/css" href="/eneryi/static/js/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="/eneryi/static/js/laypage/skin/laypage.css" />
    <link rel="stylesheet" href="/eneryi/static/html/service/service.css" />
</head>
	<body>
		<header>
	<a href="javascript:;">
		<img src="/eneryi/static/img/logo.png">
	</a>
	<ul class="toggle-nav"><li></li><li></li><li></li></ul>
	<ul class="header-r">
		<li><a class="head-img alarm" href="javascript:;"></a></li>
		<li><a class="head-img setting" href="javascript:;"></a></li>
		<li><a class="head-img avatar" href="javascript:;"></a></li>
		<li><a class="head-img lang" href="javascript:;"></a></li>
	</ul>
</header>
		<aside>
	<ul class="nav-left" id="nav-left">
		<li class="myNLE" v-on:click="curToggle">
			<div class="navgator"><i></i>我的NLE<span></span></div>
		</li>
		<li class="package" v-on:click="curToggle">
			<div class="navgator"><i></i>包裹管理<span></span></div>
			<ul>
				<li data-page="service" v-on:click="jump">订单列表</li>
				<li data-page="index" v-on:click="jump">包裹列表</li>
				<li data-page="index" v-on:click="jump">批次列表</li>
				<li data-page="index" v-on:click="jump">退运包裹列表</li>
			</ul>
		</li>
		<li class="online" v-on:click="curToggle">
			<div class="navgator"><i></i>在线下单<span></span></div>
			<ul>
				<li data-page="packline" v-on:click="jump">快递下单线路</li>
			</ul>
		</li>
		<li class="service" v-on:click="curToggle">
			<div class="navgator"><i></i>服务中心<span></span></div>
			<ul>
				<li data-page="question" v-on:click="jump">问题列表</li>
				<li data-page="index" v-on:click="jump">订单投诉列表</li>
				<li data-page="index" v-on:click="jump">包裹理赔列表</li>
			</ul>
		</li>
		<li class="config" v-on:click="curToggle">
			<div class="navgator"><i></i>常用配置<span></span></div>
			<ul>
			</ul>
		</li>
		<li class="subsection" v-on:click="curToggle">
			<div class="navgator"><i></i>子代理栏目<span></span></div>
			<ul>
			</ul>
		</li>
	</ul>
</aside>
		<section>
	<div id="cont-nav" class="cont-nav">
		<i></i>
		<p><span>{{parent}}</span>/{{child}}</p>
	</div>
	<div class="order-detail" id="order-table">
		<h2>订单列表</h2>
		<div class="info-picker">
			<div class="pick-l">
				<div class="hasSel">
					<input type="text" name="packState" placeholder="请选择包裹状态">
					<i></i>
					<ul>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
				<div class="hasSel">
					<input type="text" name="pack" placeholder="不限">
					<i></i>
					<ul>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
			<div class="pick-r">
				<div class="hasSel">
					<input type="date" name="packStart" placeholder="选择日期">
					<i></i>
					<ul>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
				<div class="hasSel">
					<input type="date" name="packEnd" placeholder="选择日期">
					<i></i>
					<ul>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
				<div><input type="text" name="searchTxt"></div>
				<div><button>搜索</button></div>
			</div>
		</div>
		<table>
			<tr>
				<th class="th1">#</th>
				<th class="th2">订单号</th>
				<th class="th3">预约号</th>
				<th class="th4">国际快递单号</th>
				<th class="th5">类型</th>
				<th class="th6">收件人</th>
				<th class="th7">身份证</th>
				<th class="th8">申报毛重</th>
				<th class="th9">实际毛重</th>
				<th class="th10">包裹状态</th>
				<th class="th11">预约时间（+1）</th>
				<th class="th12">下单时间（+1）</th>
				<th class="th13">操作</th>
			</tr>
			<tr v-if="orderTotal" v-for="(item, index) in orderRows">
				<td v-if="item.packstate=='已付款'"><input v-bind:checked="item.checked" type="checkbox" name="choose" v-on:click="changeChecked(index,orderRows)"></td>
				<td v-if="item.packstate!='已付款'"></td>
				<td><span>{{item.orderid}}</span></td>
				<td><span>{{item.bookid}}</span></td>
				<td><span>{{item.expressionid}}</span><br v-if="item.preid" /><span class="pre-green" v-if="item.preid" v-text="item.preid+'(备用单号)'"></span></td>
				<td>{{item.type}}</td>
				<td>{{item.recevier}}</td>
				<td><span>{{item.idcard}}</span></td>
				<td>{{item.shenbao}}</td>
				<td>{{item.shiji}}</td>
				<td>
					<span>{{item.packstate}}</span><br /><span v-text="item.bookid?'(已预约)':'(未预约)'"></span>

				</td>
				<td>{{item.booktime}}</td>
				<td><span>{{item.ordertime}}</span></td>
				<td>
					<ul class="pack-option">
						<li><a href="javascript:;">详情</a></li>
						<li><a href="javascript:;">跟踪</a></li>
						<li><a href="javascript:;">退款</a></li>
						<li><a href="javascript:;">理赔</a></li>
						<li v-if="item.bookid"><a href="javascript:;">取消预约</a></li>
						<li v-bind:class="item.expressionid?'opt-green':'opt-gray'"><a href="javascript:;">面单</a></li>
					</ul>
				</td>
			</tr>
		</table>
		<div class="opt-pager">
			<ul class="opt-list">
				<li v-on:click="dischoose">反选</li>
				<li>预约</li>
				<li>取消预约</li>
				<li>勾选合并下载pdf</li>
			</ul>
			<div id="pages"></div>
		</div>
	</div>
</section>
		<footer>
	Copyright &copy; 2017 Nederlands Express B.V.
</footer>
	
<script type="text/javascript" src="/eneryi/static/lib/mod.js"></script>
<script>/*resourcemap*/
require.resourceMap({
  "res": {
    "modules/lib/jquery": {
      "url": "/eneryi/static/lib/jquery.js",
      "type": "js"
    },
    "modules/lib/vue": {
      "url": "/eneryi/static/lib/vue.js",
      "type": "js"
    },
    "modules/js/common": {
      "url": "/eneryi/static/js/common.js",
      "type": "js",
      "deps": [
        "modules/lib/jquery",
        "modules/lib/vue"
      ]
    },
    "modules/html/left/left": {
      "url": "/eneryi/static/html/left/left.js",
      "type": "js",
      "deps": [
        "modules/lib/jquery",
        "modules/lib/vue",
        "modules/js/common"
      ]
    },
    "modules/html/service/service": {
      "url": "/eneryi/static/html/service/service.js",
      "type": "js",
      "deps": [
        "modules/lib/jquery",
        "modules/lib/vue",
        "modules/js/common"
      ]
    }
  },
  "pkg": {}
});

    require.async(['modules/html/left/left'], function (app) {
        app.init();
    });


	require.async(['modules/html/service/service'], function(app){
        		app.init();
   	});
</script>
</body>
</html>
